<a href="https://colab.research.google.com/github/NavaathManish/NavaathManish/blob/main/Manish_Navaath_PW2_A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Rules:
    1. Follow the given instructions strictly as the assignment will be automatically rejected if not done so.
    2. After you are done answering the questions, save the notebook in .ipynb format and rename it as so;
        
        <<Your name as visible on 'My Courses' page as shown below>>_PW2-A1.ipynb
        
    3. After renaming the file as above submit onto the platform.

# Python W2 - Assignment 01


## 1. String Manipulation

Match the following string methods with the respective output in the below options

Here,
 `string= "this is old python course"`

| Statement | Output |
| --- | --- |
| (a) string.count("is") | (1) True |
| (b) string.replace("old", "new") | (2) 12 |
| (c) string.index("python") | (3) 'this is new python course' |
| (d) string.startswith("this") | (4) 2 |
| (e) string.isalnum() | (5) False |
| (g) string.strip("this is old") | (6) 'python course' |

#YOUR ANSWER HERE

In [ ]:
1. a-4,b-3,c-2,d-1,e-5,g-6

## 2. Nested Conditions

In [ ]:
x = int(input())
y = int(input())
z = int(input())

#Block-1 Start

if x > 0 or y> 0 or z > 0:
    if (x > 0 and y> 0) or (y> 0 and z> 0) or (z> 0 and x > 0):
        if x > 0 and y> 0 and z > 0:
            print('P3')
        else:
            print('P2')
    else:
        print('P1')

#Block-1 End


# Block-2 Start

if x <0 or y<0 or z < 0:
    if (x < 0 and y< 0) or (y< 0 and z< 0) or (z< 0 and x < 0):
            if x < 0 and y< 0 and z < 0:
                print('N3')
            else:
                print('N2')
    else:
        print('N1')


#Block-2 End

What will be the output for the below input of x,y and z?

x= -1
y= 4
z= 1

2. The output for x= -1 y= 4 z= 1 is,
P2
N1
#**Explanation** - as x <0,y>0 and z>0 the condition satisfies and applies for both block 1 and block 2 ,where if else is used for the condition x <0,y>0 and z>0 .

## 3. Set Operations

In [ ]:
s1= {1,2,3,4,5}
s2= {3,4,5,6,7}

What will the following code lines output ?

1. print(s1.difference(s2))
2. print(s1.intersection(s2))
3. print(s1.union(s2))
4. print(s1.symmetirc_difference(s2))

In [ ]:
1. {1, 2}  #the values which are syncing in s2 with relation to s1 are elimintaed from s1.
2. {3, 4, 5} #the values which are common in both the sets s1 and s2.
3. {1, 2, 3, 4, 5, 6, 7} #the values the are all present in both the sets.
4. {1, 2, 6, 7} #the set of values which are in either of the sets s1 and s2, but not in their intersection

## 4. Code Brackets

Consider the program in the code cell below;

In [ ]:
match= False
if s.count('(') == s.count(')'):
    if s.count('{') == s.count('}'):
        if s.count('[') == s.count(']'):
            match = True

If s = "abcd(efgh(ijkl}{{}))" what will be the value of match at the end of execution and justification?

1. False, the number of opening and closing brackets are only considered
2. False, the position of opening and closing brackets are not considered.
3. True, the number of opening and closing brackets are only considered
4. True, the number and position of opening and closing brackets are considered.

In [ ]:
4. option(3)True ,the number of opening and closing brackets are only considered.- Explanation #the brackets asked in this question here are '(',')','{','}','[',']'. As the function count() is asked ,it is meant that we count the number of brackets present in the string 's' regardless of their positions in the string.

## 5. Report Card

Each student has a unique ID, which is an integer. For example, the student Ramanujan's ID is 1 while the student Ravi's ID is 2. Look at the below code cell;

In [ ]:
report_card = { 1: {
                    'name':'Niranjan',
                    'age': 14,
                    'school': 'DPS',
                    'marks': {'Languages': 92, 'Maths': 87, 'Ethics': 72}
                    },
                2: {
                    'name':'Prakruthi',
                    'age': 15,
                    'school': 'DPS',
                    'marks': {'Languages': 98, 'Maths': 82, 'Ethics': 92}
                }
            }

Write the correct syntax below to add a new entry of student by the name "Reva" with the student ID 6, age 16, school 'LFHS' and having scored 91 in Languages, 80 in Maths and 64 in Ethics.

In [ ]:
report_card = { 1: {
                    'name':'Niranjan',
                    'age': 14,
                    'school': 'DPS',
                    'marks': {'Languages': 92, 'Maths': 87, 'Ethics': 72}
                    },
                2: {
                    'student ID':6,
                    'name':'Prakruthi',
                    'age': 15,
                    'school': 'DPS',
                    'marks': {'Languages': 98, 'Maths': 82, 'Ethics': 92}
                    },
                3: {
                    'name':'Reva',
                    'age': 16,
                    'school': 'LFHS',
                    'marks': {'Languages': 91, 'Maths': 80, 'Ethics': 64}
                   }
              }
print(report_card)

{1: {'name': 'Niranjan', 'age': 14, 'school': 'DPS', 'marks': {'Languages': 92, 'Maths': 87, 'Ethics': 72}}, 2: {'student ID': 6, 'name': 'Prakruthi', 'age': 15, 'school': 'DPS', 'marks': {'Languages': 98, 'Maths': 82, 'Ethics': 92}}, 3: {'name': 'Reva', 'age': 16, 'school': 'LFHS', 'marks': {'Languages': 91, 'Maths': 80, 'Ethics': 64}}}

5. Please find the syntax for the new entry of student Reva

## 6. Dictionary Methods

Match the following to their correct function definition

| Name | Definition |
| ---- | ---- |
| 1. items() | A. Returns a list of all the values in the dictionary |
| 2. keys () | B. Returns a dictionary with the specified keys and value |
| 3. values() | C. Returns the value of the specified key |
| 4. get() | D. Returns a list containing a tuple for each key value pair |
| 5. Fromkeys() | E. Returns a list containing the dictionary's keys |

In [ ]:
6. 1-D,2-E,3-A,4-B,5-C

## 7. Predict Output

Consider the following code and try to guess what the output will be.

In [ ]:
s1= {1,2,3,4,4,1,2}
s2= {4,3,2,1}
l1 = [4,3,2,1]
l2= [1,2,3,4,4,1,2]

print(list(s1)==l2)
print(set(l1)==s2)
print(s1==s2)

In [ ]:
7. False #as list(s1) = [1, 2, 3, 4] which is not equal to l2 = [1, 2, 3, 4, 4, 1, 2]
   True #as set(l1) = {1, 2, 3, 4} which is equal to s2 = {1, 2, 3, 4}
   True #as  set(s1) = {1, 2, 3, 4} which is equal to s2 = {1, 2, 3, 4}

## Programming Questions

Instructions:
- Enter your solution in the cell block below only. Double click to edit.
- Do not edit anything else apart from 'YOUR ANSWER HERE' for your solution

### 8. String Encryption

Accept a string from the user and print the encrypted string according to the following conditions

* Each letter should be replaced by the letter which is at the same position from reverse in alphabets like a is replaced by z b is replaced by y y is replaced by b, z is replaced by a

* Uppercase letters should be in uppercase and lowercase letters should be in lowercase after conversion.

* Each digit should be replaced by a digit which is at the same position from reverse in (0,1,2...9) like, o is replaced by 9.1 is replaced by 8-8 is replaced by 1 and 9 is replaced by 0.

* Blank space should be replaced by and other types of character remain the same.

In [ ]:
a = "abcdefghijklmnopqrstuvwxyz"
b = print(a[::-1])
c = a.upper()
print(c)

zyxwvutsrqponmlkjihgfedcba
ABCDEFGHIJKLMNOPQRSTUVWXYZ

8. I didn't understood the question and as Chaitanya sir told in office hours that "for" loop is required in this program and marks will be aadded for this question .

### 9. Accept a sentence as input and find the number of words in it. Assume that the sentence has no punctuation marks

Example:

what a shot - 3 words

this is a chair - 4 words

In [ ]:
a = input("please enter your required sentence to count the number of words in it - ")
spl_a = a.split()
answer = len(spl_a)
print(answer)

please enter your required sentence to count the number of words in it - I love playing cricket with my friends
7

### 10. Sandwich number

A three digit number is called a sandwich number if the difference between its first and last digit is equal to its middle digit. Accept a three digit number as input and print “sandwich” if the number is a sandwich number. Print “plain” if the number is not a sandwich number. For example, 123 and 853 are sandwich numbers.

In [ ]:
a = int(input("please enter a value "))
b = int(input("please enter a value "))
c = int(input("please enter a value "))
if  a-c == b:
  print("sandwich")
else :
  print("plain")

please enter a value 7
please enter a value 4
please enter a value 3
sandwich